<html>
    <head>
        <title>Dots</title>

        <style>
            canvas {
                width: 220px;
                height: 220px;
            }
        </style>
    </head>
    <body>
        <canvas>
        </canvas>

        <script src="https://backend-boilerplate.s3.eu-west-3.amazonaws.com/dots.js"></script>
    </body>
</html>
